;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/clojure "1.10.0"]
  [org.clojure/clojurescript "1.10.773"]
  [reagent "0.10.0"]
  [cljs-ajax "0.8.1"]
  [funcool/cuerdas "2020.03.26-3"]]
 
 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn learnclj1shad.core/render!}}
   :output-dir "target/"
   :asset-path "."
}}}
